@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

header h1 {
  margin: 10px;
  text-align: center;
}

.container {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 10px;
  background-color: #648daf;
}

.container img {
  grid-column: 2;
}

.search {
  grid-column: 1;
  display: flex;
  position: relative;
  /* background-color: gray; */
  width: 80%;
}

.search input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  width: 100%;
  border-radius: 20px;
}

.search button {
  position: absolute;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  right: 0.5rem;
  top: 0.4rem;
}

.result {
  grid-column: 1;
  display: none;
}

.result td i {
  color: #648daf;
}

table td {
  padding: 10px;
  background-color: white;
}
